		<footer class="mt10">
			<div class="side-boxs underline">
				<div class="box w250 bg-white redondeado mr10 pdv10 pdh10">
					<ul>
						<li class="h5 cl-rojo-3">Torneos</li>
						<li>item1</li>
						<li>item2</li>
						<li>item3</li>
					</ul>
				</div>
				
				<div class="box w250 bg-white redondeado mr10 pdv10 pdh10">
					<ul>
						<li class="h5">Comunidad</li>
						<li>Item1</li>
						<li>Item2</li>
						<li>Item3</li>
						<li>Item4</li>
						<li>Item5</li>
						<li>Item6</li>
					</ul>
				</div>
			</div>
			<div class="clb"></div>
			<div class="derechos bg-rojo-1 cl-white pdv10 pdh10">
				Todos los derechos reservados - Powered by M4dSource
			</div>
		</footer>
	</div>
</body>
</html>