<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="http://cdn.m4dsource.com/m4dCssFlat/full/m4dcss-flat.css" />
	<link rel="stylesheet" href="static/css/estilo.css" />
</head>
<body class="bg-naranjo-1">
	<div class="marco">
		<header class="bg-azul-2">
			<div id="">
				<img src="http://i.imgur.com/wXrkKz6.png" alt="" />
			</div>
			<nav class="mnu-hz bg-azul-2 cl-white pdv10">
				<ul>
					<li class="bg-none mh10	"><a href="?path=home">Inicio</a></li>
					<li class="bg-none mh10	mnu-acc"><a href="?path=noticias">Noticias</a>
						<ul class="mnu-acc items cl-naranjo-3 bg-white mt30">
							<li><a href="?path=noticias&s=3">Lol</a></li>
							<li><a href="?path=noticias&s=2">Battlefield 4</a></li>
							<li><a href="?path=noticias&s=1">Swtor</a></li>
							<li><a href="?path=noticias&s=4">Starcraft</a></li>
							<li><a href="?path=noticias&s=5">CS</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>