<div class="bg-white redondeado mv10">
	<article class="noticias mh10">
		<div class="side-boxs">
			<div class="box pdt10 w60p">
				<span class="h4 cl-naranjo-3">NOTICIAS</span>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, culpa, autem cumque laudantium totam facere ad sint quos at nostrum voluptatem libero illo minus asperiores rem soluta dolore et voluptatum.</p>
					<p>Excepturi aperiam a quis maiores fuga magni laborum. Ut, placeat quam qui id a nisi minus corporis non iste aliquid sequi obcaecati dolores delectus blanditiis amet velit provident mollitia culpa.</p>
					<p>At, ut tempora reiciendis qui accusantium corporis quaerat illo quas modi. Assumenda, debitis, nulla, consectetur, iure voluptate sed inventore quos magni quas maxime blanditiis facere voluptatum velit quam earum perferendis.</p>
				</div>
			</div>
		</div>
		<div class="clb"></div>
	</article>
	
	<div class="torneos">
		<fieldset class="bg-azul-2">
			<legend class="bg-rojo-4 cl-white">Torneos</legend>
			<div id="">
				<img src="http://placehold.it/980x200/FFFFDD" alt="" />
			</div>
		</fieldset>
	</div>
	
	<div class="side-boxs">
		<div class="box w400">
			<fieldset>
				<legend>NOVEDADES COMUNITYGAMES</legend>
				<div></div>
			</fieldset>
		</div>
		<div class="box vsep-4">
			<div class="vsep-in bg-rojo-3"></div>
		</div>
		<div class="box w300">
			<fieldset class="text-center">
				<legend>TEAMSPEAK</legend>
				<div>
				<img src="static/images/ts3.png" />
					<ul>
						<li class="pdh10 bolded cl-azul-5">ts3.comunitygames.com:10076</li>
					</ul>
				</div>
			</fieldset>
		</div>
		<div class="box vsep-4">
			<div class="vsep-in bg-rojo-3"></div>
		</div>
		<div class="box w200">
			<fieldset>
				<legend>FACEBOOK</legend>
				<div >
					<div class="bg-gris-7 pdh10 pdv10 w100p underline">Buscanos en Facebook</div>
					<div class="bg-gris-9 mt20"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, ipsa, magnam, itaque mollitia animi dolorem tenetur error eveniet quis quae quam ducimus minima accusamus temporibus nam delectus a similique ea?</p></div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="clb"></div>
</div>
