<div class="bg-white">
	<article class="pdt10">
		<div class="h2 mh20">Noticias</div>
		<ul class="">
			<!-- BEGIN noticias -->
			<li class="">
				<fieldset class="bg-gris-9">
					<legend class="bg-gris-6"><a href="?path=noticias/ficha&ID={idNoticia}">{titulo}</a></legend>
					<div class="short-text">
						{contenido}
						<div class="text-right">
							<span class="bg-verde-3 pdh10 pdv5 cl-white"><a href="?path=noticias/ficha&ID={idNoticia}">Ver más</a></span>
						</div>
					</div>
				</fieldset>
			</li>
			<!-- END noticias -->
		</ul>
	</article>
</div>